<html>
<meta charset="UTF-8"> 
	<head>
		<script src="https://unpkg.com/vue"></script>

	</head>
	<body>

		<div id="app">

			<h1>Welcome to PowerGuide</h1>

			<h2>{{ question_text }}</h2>

			<p>
				{{ question_explanation }}
			</p>
	
			<div v-if="multiple_choice">
				<div v-for="answer in answers">
					<input type="radio" name="question" v-bind:value="answer.explanation" v-model="answer_explanation">
						{{answer.text}}
					</input>
				</div>
			</div>

		<p>
			{{answer_explanation}}
		</p>


		<button v-on:click="next_question">Next question</button>

		</div>


		<script src="powerguide.js"></script>


	</body>
</html>
