<!DOCTYPE html>
<html>
<meta charset="UTF-8"> 
	<head>
		<script src="https://unpkg.com/vue"></script>
		<link href="powerguide.css" rel="stylesheet" type="text/css">
	</head>
	<body>

		<div id="app">
	
			<p><img src="powerguide_logo.png"></p>

			<hr width="50%">

			<h2>Question {{ question_number }}</h2>
			<h2 id="question">{{ question_text }}</h2>

			<hr width="50%">

			<p>
				{{ question_explanation }}
			</p>
	
			<div id="answerwrap">
				<div v-if="multiple_choice" id="answeroptions">
					<div v-for="answer in answers">
						<input type="radio" name="question" v-bind:value="answer.text" v-model="selected_answer" v-on:click="update_explanation(answer.explanation)">
							{{answer.text}}
						</input>
					</div>
				</div>
			</div>

			<div v-if="text_input">
				Answer:
				<input type="text" v-model="text_answer">
			</div>

		<p>
			{{answer_explanation}}
		</p>


		<button v-on:click="next_question">Next question</button>


		<div id="answers">
		<h2>Answers so far</h2>

		<ul>
			<li v-for="(previous_answer, previous_question) in user_answers">
				{{previous_question}} = {{previous_answer}}
			</li>
		</ul>

		</div>
 
		</div>


		<script src="powerguide.js"></script>


	</body>
</html>
