body {
	font-family: sans-serif;
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
}

#answers {
	color: #CCCCCC;
}

#question {
	color: #CC0000;
}

#answeroptions {
	display: inline-block;
	text-align: left;
}
